{% extends 'viewbase.html' %}

{%block title%} CONECTAR {% endblock %}

{%block content%}

  <h1>ATENDIMENTO EM:</h1>
  <br>
  <form action="{{ url_for('agendar') }}" method="POST">          
    <div class="form1"><input type="radio" id="contactChoice1" name="servico" value="Pensão Alimentícia" required>
      <label for="contactChoice1">Pensão Alimentícia .... ✅</label></div>

    <div class="form1"><input type="radio" id="contactChoice2" name="servico" value="Direito Imobiliário" required>
      <label for="contactChoice2">Direito Imobiliário ....... ✅</label></div>

    <div class="form1"><input type="radio" id="contactChoice3" name="servico" value="Direito Familiar" required>
      <label for="contactChoice3">Direito Familiar ........... ✅</label></div>

    <div class="form1"><input type="radio" id="contactChoice4" name="servico" value="Aposentadoria" required>
      <label for="contactChoice4">Aposentadoria ............ ✅</label></div>

    <div class="form1"><input type="radio" id="contactChoice5" name="servico" value="Inventário" required>
      <label for="contactChoice5">Inventário ................... ✅</label></div>

    <div style="text-align:center">
      <p><article class="text">#ParaTodosVerem: Check box com as opções: Pensão Alimentícia; Direito imobiliário; Direito Familiar; Aposentadoria; Inventário.</article>
      <article class="text">#ParaTodosVerem: Botão avançar, escolha uma opção e click para prosseguir.</article></p>
    </div>

    <h4>
      <button class="button1" type="submit">AVANÇAR</button>
    </h4>
  </form>

{% endblock %}
