{% extends 'viewbase.html' %}

{%block title%} Home - ADV Connect {% endblock %}

{%block content%}

  <h1>ATENDIMENTO DIGITAL</h1>
  <br>
    <div class="mySlide">
        <img src="../static/layout/img1.png" style="width: 100%;">
    </div>

    <div style="text-align:center">
      <p>
        <article class="text">#ParaTodosVerem: Imagem de fundo cinza, contendo o texto "Bem vindo(a) ao ADV-Connect!". Ao lado uma casa partida ao meio, com pai e filho a esquerda e mãe e filha a direita. Entre eles um malhete, simbolizando ação jurídica.</article>
        <article class="text">#ParaTodosVerem: Botão conectar, click para iniciar.</article>
      </p>
    </div>

  <script src="../static/lgpd.js"></script>

  <h5>
    <a href="{{ url_for('conectar') }}"><button class="button1" type="button" alt="Click em conectar ou diga conectar para iniciar.">CONECTAR</button></a>
  </h5>

{% endblock %}
