{% if current_user.is_authenticated %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="../static/layout/favicon.png">
  <title>Gerenciar</title>
  <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
  <div id="login-container">
    <h1 class="login">Gerenciar</h1>
      <form class="login" action="{{ url_for('gerenciar') }}" method="POST">
        <input class="login" type="text" name="name" placeholder="Novo administrador" autocomplete="on" required>
        <input class="login" type="email" name="email" placeholder="Digite um email" autocomplete="on" required>
        <input class="login" type="password" name="password" placeholder="Digite uma senha" required>
        <a href="{{ url_for('painel') }}" class="login" id="forgot-pass">Ir para o painel</a>
        <input class="login" type="submit" value="REGISTRAR">
      </form>
    </div>
    <br>
    <br>
</body>
<footer>
  <p>Projeto Integrador II - <a href="{{ url_for('index') }}">adv-connect.herokuapp.com</a></p>
</footer>
</html>
{% else %}

<script>
  window.location.href = "{{ url_for('login') }}"
</script>

{% endif %}
